.select {
  color: var(--text-color);
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  border: none;
  border-left: 1px solid var(--glassmorphic);
  border-top: 1px solid var(--glassmorphic);
  border-radius: 5px;
  padding: 0.9em;
  font-family: Montserrat, sans-serif;
  transition: all 0.2s ease-in-out;
  text-shadow: var(--text-shadow);
  font-size: clamp(0.8rem, 1.8vw, 0.9rem);
  text-transform: capitalize;
  font-weight: 500;
  border: 3px solid transparent;
  outline: none;
}
.select:focus {
  border: 3px solid white;
}
.select option {
  background-color: var(--theme-color-dark);
}
.required-input {
  border: 3px solid red;
  box-shadow: 4px 4px 60px rgba(240, 2, 2, 0.366);
}
